/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

/public/assets
/public/assets-test
/public/packs
/public/packs-test
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore reports.
/reports
/coverage
