#auth {
  background: #f9f9f9;

  #alerts {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    transform: unset;

    .alert {
      margin-top: 1rem;

      --bs-alert-margin-bottom: 0;
    }
  }

  #auth-header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

    .auth-logo {
      display: block;
      padding: 30px 20px 20px;

      .icon {
        display: block;
        width: 60px;
        height: 60px;
        margin: auto;
      }
    }
  }

  #auth-main {
    .auth-form {
      min-width: 300px;
      padding: 20px;
      border: 1px solid #d8dee2;
      border-radius: 5px;
      background: #fff;
      font-size: 15px;

      input#user_password {
        letter-spacing: 0.1em;
      }

      .password-reset {
        font-size: 13px;
        line-height: 23px;
      }
    }

    label {
      margin-bottom: 0.35rem;
      font-weight: 600;
    }

    .form-control {
      height: calc(1.5em + 0.5rem + 2px);
      font-size: 0.9rem;
    }

    .form-check {
      font-size: 14px;
    }

    .form-check-label {
      font-weight: 400 !important;
    }

    .form-callout {
      padding: 15px 20px;
      border: 1px solid #d8dee2;
      border-radius: 5px;
      text-align: center;
    }

    .btn-success {
      border: 2px solid #39afaf;
      background: #39bebe;

      &:hover {
        background: #39afaf;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgb(99 204 204 / 50%);
      }
    }
  }
}
