/* ---- INDEX ----------------------------------------------------------------- */
#trends-container {
  #new-trend {
    margin: 10px 0 0;

    textarea {
      width: 100%;
      height: 202px;
      padding: 8px 14px;
      font-size: 12px;
      border: 1px solid rgba(0, 0, 0, 12%);
      border-top: none;
      border-radius: 0 0 8px 8px;
      resize: unset;

      &::placeholder {
        position: absolute;
        top: 40%;
        padding-right: 10px;
        font-size: 0.8rem;
        font-weight: 600;
        color: #959c9c;
        text-align: center;
        opacity: 0.6;
      }

      &:focus {
        outline: none;
        border: 1px solid #81caca;
        box-shadow: inset 0 0 0 0.1rem rgba(57, 190, 190, 35%);
      }
    }

    .new-trend-head {
      display: inline-block;
      width: 75%;

      input {
        width: 100%;
        padding: 8px 14px 4px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 12%);
        border-right: none;
        border-bottom: 3px solid #f1f1f1;
        border-radius: 8px 0 0;
        font-weight: 800;
        text-transform: uppercase;

        &::placeholder {
          color: #959c9c;
          opacity: 0.6;
        }

        &:focus {
          padding: 8px 10px 6px;
          outline: none;
          border: 1px solid #81caca;
          border-bottom: none;
          box-shadow: inset 0 0 0 0.1rem rgba(57, 190, 190, 35%);
        }
      }
    }

    .submit-btn {
      float: right;
      width: 25%;

      input {
        width: 100%;
        background: #39bebe;
        border: 1px solid #53b5b5;
        border-bottom: 3px solid #39afaf;
        border-radius: 0 8px 0 0;
        color: #fff;
        font-size: 34px;
        line-height: 34px;
        text-align: center;
        box-shadow: inset 0 1px #75dada;
        &:hover { background: #38b1b1; }

        &:active {
          box-shadow: inset 0 2px #2f9494;
          border-bottom: 2px solid #90d6d6;
        }
      }
    }
  }

  .trend-wrapper {
    background: #fff;
    margin: 10px 0;
    padding: 8px 14px 14px;
    border: 1px solid rgba(0, 0, 0, 12%);
    border-radius: 8px;

    .trend-header {
      margin-bottom: 5px;
      padding-bottom: 4px;
      border-bottom: 3px solid #f1f1f1;

      span {
        color: #595a5a;
        font-weight: 700;
        text-transform: uppercase;
      }

      .options {
        float: right;
        line-height: 20px;

        .clipboard {
          background: none;
          border: none;
          opacity: 0.7;
          &:hover { opacity: 1.0; }
          &:focus { outline: none; }
        }

        .close-btn {
          color: #444;
          opacity: 0.7;
          &:hover { opacity: 1.0; }
        }
      }
    }

    .trend-list {
      height: 182px;
      font-size: 0.75rem;
      overflow-x: hidden;
      .list-wrapper { margin-right: 2px; }
      .table { margin-bottom: 0; }
      tr:not(:last-child) { border-bottom: 1px dotted #dfe3e4; }

      .trend-avg {
        padding-right: 10px;
        width: 25px;
        color: #444;
        font-weight: 600;
        text-align: right;
        &.high-avg { color: #26b8b8 !important; }
        &.mid-avg  { color: #52a0e6 !important; }
        &.low-avg  { color: #8653de !important; }
      }
    }
    .table-sm td { padding: 1px 0; }

    .simplebar-wrapper {
      .simplebar-content { height: 100%; }
    }

    .simplebar-scrollbar {
      &::before { background: #999; }
    }
  }
}

#main-foot {
  #copyright {
    span {
      padding-left: 0.2rem;
      font-size: 0.9rem;
      color: #6b6b6b;
    }

    [type="submit"] {
      padding-left: 2px;
      background: transparent;
      font-size: 0.9rem;
      color: #52a0e6;
      border: none;
      &:hover { text-decoration: underline; }
    }

    a {
      padding-left: 4px;
      font-size: 0.9rem;
      color: #52a0e6;
    }
  }

  #pagination {
    font-size: 0.9rem;
    ul.pagination { margin-bottom: 0; }

    .page-link {
      color: #39bebe;
      &:hover { color: #329292; }
    }

    .page-item.active .page-link {
      background-color: #39bebe;
      border-color: #39afaf;
      color: #fff;
      box-shadow: inset 0 1px #75dada;
    }
  }
}
