/* ==== Typography & Design Elements ======================================== */

a {
  color: #52A0E6;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover, &:focus { text-decoration: none; }
}

input:focus::placeholder { color: transparent !important; }

svg {
  &.icon {
    width: 1em;
    height: 1em;
  }
  &:active { filter: drop-shadow(0 0.09em 0.03em rgba(0, 0, 0, 0.4)); }
}

.callout {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  h1 {
    font-size: 28px;
    font-weight: 800;
    color: #38BEBE;
  }
  .callout-body {
    color: #6D6D6D;
    span { display: block; }
  }
  .callout-warning { color: #f9965c; }
}

.tooltip {
  .tooltip-inner {
    background: #fff;
    font-size: 12px;
    color: #52a0e6;
    border: 2px solid #52a0e6;
  }
  .tooltip-arrow::before { border-top-color: #52a0e6 !important; }
}

.alert {
  padding: .5em .75em;
  font-size: .95em;
  &.alert-notice {
    color: #39afaf;
    background-color: #edf5f5;
    border-color: #39afaf;
  }
  &.alert-error {
    color: #e20e21;
    background-color: #fff0f1;
    border-color: #f5c6cb;
  }
  .close {
    color: rgba(0, 0, 0, 0.75);
    text-shadow: none;
  }
}


