/* ==== Typography, General Positioning & Design Elements ======================================= */
body {
  min-width: 310px;
  background: #f5f5f5;
  overflow-x: hidden;
}

.container {
  padding-right: calc(var(--bs-gutter-x) * 0.7);
  padding-left: calc(var(--bs-gutter-x) * 0.7);
}

::selection {
  background: #186acc;
  color: #fff;
}

a {
  color: #52a0e6;
  text-decoration: none;
  transition: all 0.3s ease;
}

.flex-basis-0 {
  flex-basis: 0;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.icon-xs {
  width: 0.75rem !important;
  height: 0.75rem !important;
}

.icon-sm {
  width: 0.9rem !important;
  height: 0.9rem !important;
}

.icon-md {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

.icon-lg {
  width: 1.75rem !important;
  height: 1.75rem !important;
}

.icon-xl {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.callout {
  font-size: 13px;
  font-weight: 700;
  text-align: center;

  h1 {
    font-size: 28px;
    font-weight: 800;
    color: #38bebe;
  }

  .callout-body {
    color: #6d6d6d;

    span {
      display: block;
    }
  }

  .callout-warning {
    color: #f9965c;
  }
}

.tooltip {
  .tooltip-inner {
    border: 2px solid #52a0e6;
    background: #fff;
    font-size: 12px;
    color: #52a0e6;
  }

  .tooltip-arrow::before {
    border-top-color: #52a0e6 !important;
  }
}

.simplebar-init {
  overflow: hidden !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* ==== Alerts & Notices ======================================================================== */
$alert-bg-colors: (
  notice: #eff6ff,
  success: #e7faf5,
  warning: #fefce8,
  alert: #fefce8,
  danger: #fef2f2
);
$alert-text-colors: (
  notice: #1876b2,
  success: #077f51,
  warning: #a16207,
  alert: #a16207,
  danger: #b91c1c
);
$alert-icon-colors: (
  notice: #60a5fa,
  success: #48cb99,
  warning: #facc15,
  alert: #facc15,
  danger: #f87171
);

@function alert-bg-color($type) {
  @return map-get($alert-bg-colors, $type);
}

@function alert-text-color($type) {
  @return map-get($alert-text-colors, $type);
}

@function alert-icon-color($type) {
  @return map-get($alert-icon-colors, $type);
}

#alerts {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 999;
  width: 600px;
  transform: translate(-50%, -50%);

  .alert {
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 0.75rem;

    font-size: 0.85rem;

    h3 {
      font-size: 0.875rem;
      font-weight: 600;
    }

    span {
      font-weight: 500;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1.25rem;
    }

    .alert-icon {
      padding-right: 1rem;

      svg.icon {
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: top;
      }
    }

    .close-alert {
      padding: 0 0 0 1rem;

      button.close-btn {
        padding: 0;
        border: none;
        background: transparent;
        opacity: 0.5;

        &:hover {
          box-sizing: border-box;
          border-radius: 0.25rem;
          opacity: 1;
        }

        svg.icon {
          width: 1.35rem;
          height: 1.35rem;
          box-sizing: content-box;
        }
      }
    }
  }

  @each $alert-type, $color in $alert-bg-colors {
    .alert-#{$alert-type} {
      border: 1px solid desaturate(darken(alert-bg-color($alert-type), 5%), 15%);
      background-color: alert-bg-color($alert-type);
      color: alert-text-color($alert-type);

      h3 {
        color: darken(alert-text-color($alert-type), 5%);
      }

      svg.icon {
        color: alert-icon-color($alert-type);
      }

      .close-alert button.close-btn:hover {
        background-color: darken(alert-bg-color($alert-type), 5%);
      }
    }
  }
}

/* ==== Forms =================================================================================== */
form {
  .form-control + .form-control {
    margin-top: 0.5rem;
  }
}
