default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV['PG_USERNAME'] %>
  password: <%= ENV['PG_PASSWORD'] %>
  host:     <%= ENV['IP'] %>

development:
  <<: *default
  database: gtrends_tool_development

test:
  <<: *default
  database: gtrends_tool_test

production:
  url: <%= ENV['DATABASE_URL'] %>
