/*---- INDEX -----------------------------------------------------------------*/
/*////////////////////////////////////////////////////////////////////////////*/

#trend-results {
  .trend-wrapper {
    background: #f7f7f7;
    margin: 10px 0;
    padding: 15px 11px 15px 15px;
    span {
      display: block;
      margin-bottom: 2px;
      font-weight: 800;
      text-transform: uppercase;
    }
    .trend-list {
      height: 300px;
      font-size: 12px;
    }
  }
}
