/*---- INDEX -----------------------------------------------------------------*/
/*////////////////////////////////////////////////////////////////////////////*/

body { background: #f5f5f5; }

#search {
  text-align: center;
  input {
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
}

#trend-results {
  .new-trend {
    margin: 10px 0 0;
    textarea {
      width: 100%;
      height: 223px;
      padding: 5px 10px 7px;
      font-size: 14px;
      border: 1px solid rgba(0,0,0,.12);
      border-top: none;
      border-radius: 0 0 8px 8px;
      resize: unset;
      &::placeholder {
        opacity: 0.6;
        font-style: italic;
      }
    }
    .new-trend-head {
      display: inline-block;
      width: 75%;
      input {
        width: 100%;
        padding: 8px 10px 4px;
        background: #fff;
        border: 1px solid rgba(0,0,0,.12);
        border-bottom: 3px solid #f1f1f1;
        border-radius: 8px 0 0 0;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
    .submit-btn {
      display: inline-block;
      float: right;
      width: 25%;
      input {
        width: 100%;
        padding: 8px 0 4px;
        background: rgb(47,47,47);
        background: linear-gradient(180deg, rgba(47,47,47,1) 0%, rgba(73,73,73,1) 100%);
        border: 1px solid #333;
        border-bottom: 3px solid #333;
        border-radius: 0 8px 0 0;
        color: #fff;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .trend-wrapper {
    background: #fff;
    margin: 10px 0;
    padding: 8px 14px 14px 14px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 8px;
    .trend-header {
      margin-bottom: 5px;
      padding-bottom: 4px;
      border-bottom: 3px solid #f1f1f1;
      span {
        font-weight: 800;
        text-transform: uppercase;
      }
      .close-btn {
        float: right;
        color: #444;
        font-size: 26px;
        font-weight: 600;
        line-height: 20px;
        text-decoration: none;
      }
    }
    .trend-list {
      height: 206px;
      font-size: 12px;
      overflow-x: hidden;
      .list-wrapper { margin-right: 2px; }
      .table { margin-bottom: 0; }
      tr:not(:last-child) { border-bottom: 1px dotted #dfe3e4; }
      .trend-avg {
        padding-right: 10px;
        color: #444;
        font-weight: 700;
        text-align: right;
        &.high-avg { color: #26b8b8 !important; }
        &.mid-avg  { color: #52a0e6 !important; }
        &.low-avg  { color: #8653de !important; }
      }
    }
    .table-sm td { padding: 1px 0; }
    .simplebar-scrollbar {
      width: 6px;
      &:before { 
        background: #e6e6e6; 
        opacity: 1;
      }
    }
  }
}

#pagination {
  float: right;
  font-size: 14px;
}

.alert {
  padding: .5em .75em;
  font-size: .95em;
  &.alert-danger {
    color: #e20e21;
    background-color: #fff0f1;
    border-color: #f5c6cb;
  }
  .close {
    color: #e20e21;
    text-shadow: none;
  }
}
