a { transition: all 0.3s ease; }

.alert {
  padding: .5em .75em;
  font-size: .95em;
  &.alert-notice, &.alert-success {
    color: #5ac75e;
    background-color: #f5fdf8;
    border-color: #90d692;
  }
  &.alert-alert, &.alert-danger {
    color: #e20e21;
    background-color: #fff0f1;
    border-color: #f5c6cb;
  }
  .close {
    color: #000;
    text-shadow: none;
  }
}
